<h3>Admin Login</h3>

<div class="col-sm-6 form-group mt-5">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" required class="form-control" name="email" placeholder="Enter email" ngModel required #email="ngModel">
            <span class="text-danger"
            *ngIf="email.invalid && email.touched">email field can not be empty</span>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input  type="password" class="form-control" name="password" placeholder="Password" ngModel #password="ngModel">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


<ul>
    <li>
        <a routerLink='../profile'>Profile</a>
    </li>
    <li>
        <a routerLink='../editProfile'>Edit Profile</a>
    </li>
</ul>
