<!-- {{title}} -->

<!-- <app-user-list></app-user-list> -->

<!-- Examples for angular interpolation start -->

<!-- <h3>Name is :: {{name}}</h3>

<h3>
    {{test()}}
</h3>

<p> {{name}}'s email is :: {{obj.email}} and phone number is :: {{obj.phone_number}}.

    {{name}} is like {{hobbies[0]}}<br>
    {{name}} is prefer to play {{hobbies[1]}}
    {{name}} is total {{hobbies.length}} hobbies liked.
    <br>
    Total amount :: {{product1}} + {{product2}}
    <br>

    Current URL is :: {{siteUrl}}

</p> -->

<!-- Examples for angular interpolation end -->

<!-- Different component call here like this way -->
<!-- <app-login></app-login> -->

<!-- Form demo -->
<app-form-demo></app-form-demo>
<!-- <app-signup></app-signup> -->

