<mat-toolbar color="primary" class="navbar">
  <div>AngularDemo</div>
  <div>
    <a [routerLink]="['/profile']" routerLinkActive="active">Admin</a>
    <a [routerLink]="['/login']" routerLinkActive="active">Users</a>
    <a [routerLink]="['/signup']" routerLinkActive="active">Signup</a>
    <a [routerLink]="['/todos']" routerLinkActive="active">Todos</a>
    <a [routerLink]="['/formExample']" routerLinkActive="active">Forms</a>
    <a [routerLink]="['/styleBinding']" routerLinkActive="active">styleBinding</a>
    <a [routerLink]="['/pipeExample']" routerLinkActive="active">PipeExample</a>
  </div>
</mat-toolbar>