<mat-toolbar color="primary" class="navbar">
  <div>AngularDemo</div>
  <div>
    <a [routerLink]="['/login']" routerLinkActive="active">Login</a>
    <a [routerLink]="['/signup']" routerLinkActive="active">Signup</a>
    <a [routerLink]="['/users']" routerLinkActive="active">Users</a>
    <a [routerLink]="['/formExample']" routerLinkActive="active">Forms</a>
    <a [routerLink]="['/styleBinding']" routerLinkActive="active">styleBinding</a>
    <a [routerLink]="['/pipeExample']" routerLinkActive="active">PipeExample</a>
  </div>
</mat-toolbar>